body {
  /*padding: 70px;*/
  font: 14px "Lucida Sans", Helvetica, Arial, sans-serif; 
  background: #4ba4d1e3 
  
  
}

a {
  color: #00B7FF;
}

.bg-light{    
   background-color: #007BFF !important;

}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 100;
    color: #F8F9FA !important;
}

.navbar-light .navbar-nav .nav-item .nav-link :hover{
    font-size: 1.5rem;
    font-weight: 100;
    color: #F8F9FA !important;
}

.nav-item:hover {
    background-color: #0c14185d;
}
.jumbotron{
  background-size: cover;
  background-position: 100%;
  color: #2c3e50;
  background: #ecf0f1;
}  
