body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  
}

a {
  color: #00B7FF;
}

.bg-light{    
   background-color: #007BFF !important;

}
.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: #F8F9FA !important;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    color: #F8F9FA !important;
}

.nav-item:hover {
    background-color: #20C997;
}
.bg-jumbotron{
  background-size: cover;
  background-position: 100%;
}  
