<!DOCTYPE html>

<html>

  <head>

    <title>Delete Blog</title>


    <!-- Required meta tags -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1,

                shrink-to-fit=no"/>


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>


  <body>

    <!-- navigation bar START -->

      <button

        class="navbar-toggler" type="button"

        data-toggle="collapse" data-target="#collapsibleNavbar">

        <span class="navbar-toggler-icon"></span>

      </button>
        <div classs="container">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
 
          <a class="navbar-brand" href="/">My Blog</a>   

          <div class="collapse navbar-collapse" id=""#collapsibleNavbar"">
            <div class="navbar-nav">

              <a class="nav-link" href='/blogList'>List Blogs</a>
              
              <a class="nav-link" href='/blogAdd'>Add Blog</a>

            </div>
         </div>

    </nav>

    <!-- navigation bar END -->


    <div class="container">

        <h1>Delete Blog</h1>

        <p>Blog Delete feature is  under construction</p>

    </div>


    <div class="container">

      <footer><small>&copy; Copyright 2020, Name</small></footer>

    </div>

</body>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/popper.min.js"></script>

    <script src="/javascripts/bootstrap.min.js"></script>



</html>

