<!DOCTYPE html>

<html>

  <head>

    <title>Delete Blog</title>


    <!-- Required meta tags -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1,

                shrink-to-fit=no"/>


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>


  <body>

    <!-- navigation bar START -->

      <button

        class="navbar-toggler" type="button"

        data-toggle="collapse" data-target="#collapsibleNavbar">

        <span class="navbar-toggler-icon"></span>

      </button>
        <div classs="container">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
 
          <a class="navbar-brand" href="/">My Blog</a>   

          <div class="collapse navbar-collapse" id=""#collapsibleNavbar"">
            <div class="navbar-nav">

              <a class="nav-link" href='/blogList'>List Blogs</a>
              
              <a class="nav-link" href='/blogAdd'>Add Blog</a>

            </div>
         </div>

    </nav>

    <!-- navigation bar END -->
    
    <div class="card border-primary" style="width: 50%">
      <form method="POST" action="" style="padding: 20px">
        <div class="form-group">
            <label for="summary" class="text-primary">Blog Title</label>
            <input readonly class="form-control" id="blog_title" name="blog_title" value="<%= blog.blog_title %>">

            <label for="detail" class="text-primary">Blog Text</label>
            <textarea readonly class="form-control" id="blog_text" name="blog_text"><%= blog.blog_text %></textarea>
        </div>
           <input type="submit" class="btn btn-danger float-right" value="Delete Blog">
           <a class="btn btn-primary float-right" style="margin-right: 25px" href="/blogList" role="button">Cancel</a>
      </form>
    </div>
 




    <div class="container">

      <footer><small>&copy; Copyright 2020, Joan</small></footer>

    </div>

</body>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/popper.min.js"></script>

    <script src="/javascripts/bootstrap.min.js"></script>



</html>

