<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Blog List</title>


    <!-- Required meta tags -->

     <meta charset="utf-8" />

     <meta name="viewport"

      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


     <!-- Bootstrap CSS -->

     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
     <link rel="stylesheet" href="/stylesheets/style.css"/>
     <link rel="stylesheet" 
       href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
       integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   </head>


  <body>

    <!-- navigation bar START -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container">

        <a class="navbar-brand" href='/'>Joan Chica</a>

      <button class="navbar-toggler" type="button"

        data-toggle="collapse" data-target=""#collapsibleNavbar""

             <span class="navbar-toggler-icon"></span>

       </button>


      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

        <ul class="navbar-nav">

          <li class="nav-item">

            <a class="nav-link" href='/'>My Blog</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href='/blogList'>List Blogs</a>

          </li>

          <li class="nav-item">
       
            <a class="nav-link" href='/blogAdd'>Add Blog</a>

          </li>

        </ul>

      </div>

     </div>

   </nav>

    <!-- navigation bar END -->

    <!-- blog list-->

     <div class="container">
       <!--card1-->         
       <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h5 class ="card-title">My first blog entry</h5>
          </div>
          <div class="card-footer">
             <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills">  
            
                    <li class="nav-item ">
                        <a class="nav-link " href="/blogEdit "> <i class=" fas fa-edit ">
                        </i></a>

                     </li>
                     <li class="nav-item ">
                        <a class="nav-link " href="/blogDelete "> 
                        <i class="fas fa-trash"></i></a>
                     </li>
               
                  </ul>

              </div>
                                                              
            </div>
          
         <div>        
        <!--card2-->

        <div class="card">
           <div class="card-header">
           </div>
         <div class="card-body">
           <h5 class ="card-title">What is the meaning of life?</h5>
         </div>
         <div class="card-footer">
             <div class = "col-sm">
                 <ul class="nav justify-content-end nav-pills card-header-pills">
                     <li class="nav-item ">
                        <a class="nav-link " href="/blogEdit ">
                        <i class=" fas fa-edit "></i></a>
                     </li>
                     <li class="nav-item ">
                        <a class="nav-link " href="/blogDelete ">
                        <i class="fas fa-trash-alt "></i></a>
                     </li>

                   </ul>
               </div>
             </div>
          </div>

         <!--end card2-->
         <!--card3-->

         <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">    
              <h5 class ="card-title">I blog,therefore I am</h5>
            </div>
            <div class="card-footer">
              <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills">
                    <li class="nav-item ">
                        <a class="nav-link " href="/blogEdit ">
                        <i class=" fas fa-edit "></i></a>
                    </i>
                    <li class="nav-item ">
                        <a class="nav-link " href="/blogDelete ">
                        <i class="fas fa-trash-alt "></i></a>
                    </li>
                 <ul>
              </div>
            </div>
          </div>     
                    





        <!-- Optional JavaScript -->
        <script src="/javascripts/jquery.min.js "></script>
        <script src="/javascripts/popper.min.js "></script>
        <script src="/javascripts/bootstrap.min.js "></script>



</body>
</html>
