<!doctype html>
<html ng-app="blogApp">

<head>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/angular-ui-router.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href='#/'>Joan Chica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href='#/'>My Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='#/blgList'>List Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='#/blgAdd'>Add Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---TEMPLATES --->

    <!-- Angular Templates -->
    <script type="text/ng-template" id="pages/home.html">
        <p></p>
        <h2>{{vm.title}}</h2>
        <h4>{{vm.message}}</h4>
    </script>

    

    <!---Blog List -->

    <script type="text/ng-template" id="pages/blgList.html">
        <p></p>
      <div ng-repeat="blog in vm.blogs">
        <div class="card border-primary" style="width: 50%"> 
            <div class="card">   
                <div class="card-body">
                    <h5 class ="card-title">{{blog.blog_title}}</h5>
                    <p  class="card-text">{{blog.blog_text}}</p>
                    <p ng-bind="blog.created_On | date:'MM/dd/yyyy h:mm a'"></p>
                </div>
                <div class="card-footer">
                    <div class = "col-sm">
                        <ul class="nav justify-content-end nav-pills card-header-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#/blgEdit/{{blog._id}}"> <i class="fas fa-edit"></i></a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="#/blgDelete/{{blog._id}}"> <i class="fas fa-trash-alt"></i></a>
                            </li>
                        </ul>
                    </div>	
                </div>
            </div>
            <p></p> <!-- card -->  
        </div>
     </div>     	
    </script> 
        
             
    <!---Blog Add --->

    <script type="text/ng-template" id="pages/blgAdd.html">
        <p></p>
        <div class="card border-primary" style="width: 50%"> 
        <div class="card">            
            <div class="card-body">    
                <form name="userForm" ng-submit="vm.submit()" ng-controller="addController">    
                    <div class="form-group">
                        <label for="summary" class="title">Blog Title</label>
                        <input class="form-control" id="title" name="blog_title">
                        <label for="detail" class="text">Blog Text</label>
                        <textarea class="form-control" id="text" rows="3" name="blog_text"></textarea>
                    </div>
            </div>
            <div class="card-footer">
                <div class="col-sm form-group ">
                    <ul class="navigation">
                        <li class="nav-item">
                             <input ng-click="vm.submit()" ng-controller="addController" type="submit" class="btn btn-primary" value="Add Blog">
                        </li>
                    </ul>    
                </div>  
                </form>
            </div>    
        </div>
        </div>      
     </script>


    <!---Blog Edit --->


    <script type="text/ng-template" id="pages/blgEdit.html">
            <p></p>
            <div class="card border-primary" style="width: 50%">  
                <div class="card">            
                    <div class="card-body">  

                        <form name="userForm" ng-submit="vm.submit()" ng-controller="editController" style="padding: 20px">
                            <div class="form-group">
                                <label for="summary" class="blog_title">Blog Title</label>
                                <input class="form-control" id="blog_title" name="blog_title" value="{{vm.blog.blog_title}}">
                                <label for="detail" class="blog_text">Blog Text</label>
                                <textarea class="form-control" id="blog_text" name="blog_text" rows="3">{{vm.blog.blog_text}}</textarea>
                            </div>
                        <input type="submit" class="btn btn-primary" value="Save Blog">
                        </form> 
                    </div>
                </div>
    </script>

    
      <!---Blog Delete --->

      <script type="text/ng-template" id="pages/blgDelete.html">
        <p></p>
        <div class="card border-primary" style="width: 50%">
          <form name="userForm" ng-submit="vm.submit()" ng-controller="deleteController" style="padding: 20px"  id="deleteBlog" >    
            <div class="form-group">
                <label for="summary" class="title">Blog Title</label>
                <input readonly class="form-control" id="blog_title" name="blog_title" value="{{vm.blog.blog_title}}">
                <label for="detail" class="text">Blog Text</label>
                <textarea readonly class="form-control" id="blog_text" name="blog_text" rows="3">{{vm.blog.blog_text}}</textarea>
            </div>
               <input type="submit" class="btn btn-danger float-right" value="Delete Blog">
               <button ng-click="vm.cancel()" ng-controller="deleteController" class="btn btn-primary float-right" style="margin-right: 25px">Cancel</button>
         
               
            </form>
        </div>
    </script>

    <!-- Angular View (dynamic content goes here) -->
    <div ng-view></div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/blogApp.js"></script>
</body>

</html>